@model Restaurant

<section>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Cuisine</td>
        <td>
            @*<a class="btn btn-block btn-info" href="/home/details/@restaurant.Id">DETAILS</a>*@
            @*@Html.ActionLink("DETAILS","Details","Home",new {id = restaurant.Id}, new {@class = "btn btn-info btn-block"})*@
            <a class="btn btn-block btn-info" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id">DETAILS</a>
            <a class="btn btn-block btn-info" asp-page="/Restaurants/Edit" asp-route-id="@Model.Id">EDIT</a>
            @*public IActionResult Details(int ID) --> asp-route-ID !!!   *@
            @*public IActionResult Details(int KRIS) --> asp-route-KRIS !!!   *@
        </td>
    </tr>
</section>