@model Restaurant

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Restaurant Name</th>
        </tr>
        <tr>
            <td>@Model.Name</td>
        </tr>
    </table>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
</div>

